# dependencies
/pastreads-app/node_modules/
/pastreads-app/.pnp
/pastreads-app/.pnp.js
/pastreads-app/.yarn/install-state.gz

# testing
/pastreads-app/coverage/

# next.js
/pastreads-app/.next/
/pastreads-app/out/

# production
/pastreads-app/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
/pastreads-app/.vercel/

# typescript
*.tsbuildinfo
/pastreads-app/next-env.d.ts
